@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}
h2 {
    font-family: Roboto-Bold;
}

p {
    font-family: Roboto-Regular;
    color: #737272;
    font-weight: 600;
}
.card {
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 44px 0px rgba(194,194,194,1);
    -moz-box-shadow: 0px 0px 44px 0px rgba(194,194,194,1);
    box-shadow: 0px 0px 44px 0px rgba(194,194,194,1);
}